@charset "UTF-8";

body {
    background-color: rgba(0, 0, 0, 0.877);
}

h1 {
    text-align: center;
    color: white;
}

div {
    text-align: center;
}

iframe {
    display: block;
    margin: auto;
}

h2 {
    color: white;
    text-align: center;
}
